<div class="container">
  <div class="plan ancillaries">
    <h1>Ancillaries</h1>
    Ancillaries team, bestaat uit: vijf Front-end developers, een informatie analist, een product owner, een tester en een
    designer. ik ben gekomen als developer daarbij zorg ik voor het creeren van functionaliteit in de BW applicatie. Bij het
    creeren van functionaliteit hoort onder andere het informeren van de stakeholders etc.. bijvoorbeeld het presenteren van de
    features die je hebt gecreerd. Daarnaast is het de bedoeling dat je gedurende je werkzaamheden goed communiceert met het team.
    Voor het uitvoeren van mijn functie maak ik gebruik van onder andere Angular7, HTML, CSS, Node, GraphQl.
  </div>
  <div class="plan verwachtingen">
    <h1>Verwachtingen</h1>
    Mijn rol binnen het team is die van Junior Developer. Ik hou me voornamelijk bezig met frontend werk binnen de applicatie.
    Voor mij is het van belang dat ik af en toe de tijd krijg om me te verdiepen in de theorie achter het developen. Daardoor
    begrijp ik de code beter, en ben ik sneller en breder inzetbaar. Om dit te bewerkstelligen heb ik ongeveer een dag in de maand
    nodig waarop ik me niet op mijn dagelijkse activiteiten hoef te focussen maar gericht op onderzoek uit kan gaan. Van mijn
    buddy aka Steven verwacht ik dat wordt nagedacht over onderwerpen waarop ik me in zijn optiek zou moeten foccussen. Zodat ik
    me zo snel en goed mogelijk kan ontwikkelen. Daarnaast zou ik graag om de zoveel tijd feedback krijgen over mijn functioneren.
  </div>
  <div class="plan">
    <div class="plan totnu">
      <h1>Het doel</h1>
      Iedereen kan gebruik maken van google en video's om te coderen en uiteindelijk het gewenste resultaat te leveren. Wat in
      mijn optiek een developer goedmaakt is door zo goed voor ogen te hebben wat je aan het doen bent dat je in je hoofd kunt uit
      tekenen wat er moet gebeuren en waarom het op die manier gemaakt/geschreven moet worden
    </div>
    <div class="plan ambitie">
      <h1>Ambitie</h1>
      Goed worden in dat wat ik doe. Ik ben begonnen met developen omdat ik het leuk vind en wil hier dan ook graag het maximale
      uithalen. mijn ambitie: De nieuwe Uri worden. Op lange termijn heb ik het liefst verstand van alles en blijf ik gebruik
      maken van de nieuwste technologien.
    </div>

    <div class="plan totnu">
      <h1>So far so good?</h1>
      <ul>
        <li>Unit tests geschreven</li>
        <li>End to End tests geschreven</li>
        <li>Demo gegeven</li>
        <li>Component gebouwd</li>
        <li>Werken met Labels</li>
        <li>Release Captain geweest</li>
      </ul>
    </div>
  </div>
  <div class="plan leerdoelen">
    <h1>Leerdoelen</h1>
    <ul>
      <li>Fuctioneel Programmeren</li>
      <li>Design patterns</li>
      <li>UML</li>
      <li>
        Angular7
        <ul>
          <li>Material</li>
          <li>Forms</li>
          <li>RXJS</li>
          <li>Domme Componenten</li>
        </ul>
      </li>
      <li>
        HTML
        <ul>
          <li>Semantische html</li>
          <li>Search engine opt..(seo)</li>
          <li>Accessability</li>
        </ul>
      </li>
      <li>
        Accessability
        <ul>
          <li>UI/UX</li>
        </ul>
      </li>
      <li>
        CSS
        <ul>
          <li>Scss</li>
          <li>Bem</li>
          <li>Flex-box</li>
          <li>Box-model</li>
          <li>VisualFormatting-model</li>
          <li>CSS-Grid</li>
        </ul>
      </li>
      <li>Proxies</li>
      <li>Node</li>
      <li>NPM</li>
      <li>Eigen Node Modules bouwen</li>
      <li>Security</li>
      <li>GQL</li>
      <li>Lint</li>
      <li>regExp</li>
      <li>TypeScript</li>
      <li>javaScript</li>
      <li>Git</li>
      <li>
        Softskills
        <ul>
          <li>Vak Jargon</li>
          <li>Communicatie</li>
          <li>Goed beargumenteren</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
